@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'CircularStd-Book';
  src: local('Circular Std Medium'), local('CircularStd-Medium'),
      url('./fonts/CircularStd-Book.woff2') format('woff2'),
      url('./fonts/CircularStd-Medium.woff  ') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd-Medium';
  src: local('Circular Std Book'), local('CircularStd-Book'),
      url('./fonts/CircularStd-Book.woff2') format('woff2'),
      url('./fonts/CircularStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:fullscreen::backdrop { background:white }
